<h1>Edit Daysheet</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.daysheet_path(@conn, :update, @daysheet)) %>

<span><%= link "Back", to: Routes.daysheet_path(@conn, :index) %></span>
